{% extends "base_dashboard.html" %}
{% block content %}
  {% include "sub_menu_configuration.html" %}
    <div class="contenido">
		<center>
<h1>Graficos</h1>

<p>
    <a href="{% url "chartcreate_view" %}"">Agregar grafico</a>
</p>

<ul>
    {% for chart in object_list %}
        <li>
            <p><a href="{% url "chartdetail_view" chart.id %}">{{ chart.name }}</a></p>
        </li>
    {% endfor %}
</ul>
</center>
</div>
</center>
	   
{% include "_pagination.html" %}
</center>
{% endblock %}