{% extends "base_dashboard.html" %}
{% block content %}
  {% include "sub_menu_configuration.html" %}
    <div class="contenido">
		<center>
		<br>
		<br>
		<h5>Urls</h5>
		<ul>
		  <li>api-token-auth/</li>
		  <li>productlist/</li>
		  <li>product/create/</li>
		  <li>product/detail/{pk}></li>
		  <li>product/update/{pk}></li>
		  <li>product/delete/{pk}></li>
		  <li>user/list/</li>
		  <li>user/create/</li>
		  <li>user/detail/{pk}></li>
		  <li>user/update/{pk}></li>
		  <li>user/delete/{pk}></li>
		</ul>
	    </center>
	   </div>
{% endblock %}
